<h1 mat-dialog-title>Quest Form</h1>
<div mat-dialog-content>

<div>
  <mat-form-field class="quest-form-top">
    <mat-label>Quest Name</mat-label>
    <input matInput placeholder="Quest Name" [(ngModel)]="data.questName" maxlength="25">
  </mat-form-field>

  <mat-form-field  class="quest-form-top">
    <mat-label>Difficulty</mat-label>
    <select matNativeControl [(ngModel)]="data.questRank">
      <option value="D">D</option>
      <option value="C">C</option>
      <option value="B">B</option>
      <option value="A">A</option>
      <option value="S">S</option>
      <option value="unknown">?</option>
    </select>
  </mat-form-field>

  <mat-form-field class="quest-form-top">
    <mat-label>Adventurers Needed</mat-label>
    <input matInput class="form-control" placeholder="#" [(ngModel)]="data.adventurersNeeded" appOnlyNumbers maxlength="3">
  </mat-form-field>
</div>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description (Mac Characters: 500)" [(ngModel)]="data.questDescription" maxlength="500"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Quest Giver</mat-label>
    <input matInput placeholder="Quest Giver" [(ngModel)]="data.questGiver" maxlength="20">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Submit</button>
</div>