<h1 mat-dialog-title>Quest Form</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Quest Name</mat-label>
    <input matInput placeholder="Quest Name" [(ngModel)]="data.questName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" [(ngModel)]="data.questDescription"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quest Giver</mat-label>
    <input matInput placeholder="Quest Giver" [(ngModel)]="data.questGiver">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Submit</button>
</div>