<div mat-dialog-content class="quest-details">
  <header>
    <h3 mat-dialog-title><b>{{data.questData.title}}</b></h3>
  </header>

  <div>
    <span *ngIf="data.questData.datePosted" class="post-date">Posted: {{data.questData.datePosted | date}}</span>
    <p>Difficulty: {{data.questData.questRank}}</p>
    <p style="white-space: pre-line">{{data.questData.description}}</p>
  </div>

  <div class="adventurer-details">
    <p class="adventurer" *ngIf="adventurer">Accepted By: {{adventurer}}</p>
    <p *ngIf="data.questData.deadline">Deadline: {{data.questData.deadline | date}}</p>
    <p class="requester">Requester: {{data.questData.requester}}</p>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onAcceptQuest()" *ngIf="available">Accept</button>
</div>
