.requester {
  float: right;
  font-style: italic;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.quest-details {
  min-width: 300px;
}

.adventurer-details {
  margin-top: 30px;
  border-top-color: black;
  border-top-style: double;
}