.quest-board {
  background-color: #bd7e2b;
  width: 95vw;
  min-height: 95vh;
  margin: auto;
  border-width: 10px;
  border-color: white;
  border-style: double;
}

.quest-action {
  float: right;
  margin: 0 10px 0 0;
}

.board-actions {
  position: sticky;
  top: 20px;
  z-index: 100;
}

.quest-board-title {
  text-align: center;
}