<div class="board-actions">
  <button class="quest-action" mat-raised-button color="primary" (click)="openNewQuestDialog()">Post new Quest</button>

  <button mat-raised-button (click)="logOut()">sign out</button>
</div>


<div class="quest-board">

 <div class="row">
  <div class="col" *ngFor="let quest of questList">
   <app-quest-listing
    [rotation] = quest.rotation
    [title] = quest.title
    [description] = quest.description
    (questClicked)="openQuestDialog(quest)">
   </app-quest-listing>
  </div>
 </div>


</div>
