.app-container {
  height: 100vh;
  width: 100vw;
}

.side-nav {
  padding: 10px 15px 0 15px;
}

ul {
  list-style-type: none;
  color: black;
}

ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}
