<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer class="side-nav" #drawer [mode]="navMode">
    <p>Quest Boards</p>
    <ul *ngFor="let board of availableBoards">
      <li><button mat-button (click)="setCurrentBoard(board.code)" (click)="drawer.toggle()">{{board.value}}</button></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="app-container">
    <button mat-button (click)="drawer.toggle()"><fa-icon [icon]="menuBars"></fa-icon></button>
    <app-quest-board></app-quest-board>
  </mat-drawer-content>
</mat-drawer-container>
